#footer-container {
    position: fixed;
    width: 100%;
    bottom: 0;
}

#foot_name {
    color: rgb(190, 73, 190);
    text-decoration: none;
}

@media screen and (max-width: 767px) and (max-height: 600px){
    #footer-container {
        position: sticky;
        bottom: auto;
    }
}

@media screen and (max-height: 670px){
    #footer-container {
        position: sticky;
        bottom: auto;
    }
}

@media screen and (min-height: 670px) and (min-width: 900px) {
    #footer-container {
        position: static;
        bottom: 0;
    }
}

/* Phones */
@media screen and (min-height: 680px){
    #footer-container {
        position: fixed;
        bottom: 0;
    }
}

/* Laptops */
@media screen and (min-height: 850px){
    #footer-container {
        position: fixed;
        bottom: 0;
    }
}

/* Tablet */
@media screen and (min-height: 680px) and (width: 768px){
    #footer-container {
        position: fixed;
        bottom: 0;
    }
}
