

#container {
    margin-top: 35px;
    margin-bottom: 60px;
}

#img {
    animation-name: loadToFade;
    animation-duration: 3s;
}


@keyframes loadToFade {
    0% {opacity: 40%;}
    100% {opacity: 100%;}
}
