.test {
    background-color: lightcoral;
    text-align: center;
    margin: 0 auto;
}

.test2 {
    background-color: lightsalmon;
    text-align: center;
    margin: 0 auto;
}

.test3 {
    background-color: lightskyblue;
    text-align: center;
    margin: 0 auto;
}

.test4 {
    background-color: lightgreen;
    text-align: center;
    margin: 0 auto;
}
