/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@800&display=swap');


.logo {

    opacity: 100%;

    animation-name: spin;
    animation-duration: 3s;

    /* translate to Safari, Chrome and Opera */
    -webkit-animation-name: spin;
    -webkit-animation-duration: 3s;

    /* translate to Firefox */
    -moz-animation-name: spin;
    -moz-animation-duration: 3s;

}

strong {
    animation: spin;
    animation-duration: 9s;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 1.3em;
    color: #66C8FF;
    letter-spacing: .1em;
    position: relative;
    top: .2em;
    left: .4em;
}

#nav-center {
    font-size: 1.2em;
    position: relative;
    left: -70px;
}

@media screen and (max-width: 991px){
    #nav-center {
        left: 0;
    }
}

/* keyframes/animations for .logo class */
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg);} }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 0% {opacity: 0%;} 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); opacity: 100%;} }