#container {
    margin-top: 4.5em;
}

#image, #image2 {
    box-shadow: 7px 7px 10px .5px #242424;
    transition: transform .7s;
    animation-name: loadToFade;
    animation-duration: 2s;
}

#imageDisabled {
    opacity: 30%;
    box-shadow: 7px 7px 10px .5px #242424;
}

#image:hover {
    opacity: 70%;
    transform: rotate(3deg) scale(1.05);
    
    /* removes rugged edges when image is transformed */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#image2:hover {
    opacity: 70%;
    transform: rotate(-3deg) scale(1.05);

    /* removes rugged edges when image is transformed */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@keyframes loadToFade {
    0% {opacity: 40%;}
    100% {opacity: 100%;}
}

@media screen and (max-height: 800px) {
    #container {
        margin-top: -1em;
    }
}


@media screen and (min-width: 2500px) {
    #container {
        margin-top: 8em;
    }

    #image, #image2, #imageDisabled {
        width: 90%;
        height: 100%;
    }
}


