#image, #image2 {
    box-shadow: 7px 7px 10px .5px #242424;
    transition: transform .7s;
    border-radius: 0;
}

#image:hover {
    opacity: 70%;
    transform: rotate(3deg) scale(1.05);
}

#image2:hover {
    opacity: 70%;
    transform: rotate(-3deg) scale(1.05);
}
